@media only screen and (min-width: 1024px) and (max-width:2000px) {
    .filter-container{
        flex-basis: 33.3%;
    }
    
    .mission-container{
        flex-basis: 66.6%;
    }
    .card{
        background-color: white;
        border-radius: 5px;
        width:22%;
        padding:10px;
        margin:4px;
    }
    
    .card-image{
        width:100%;
    }

    .filter-button{
        background-color:#228B22;
        margin: 0.5rem;
        width:40%;
    }
}


@media only screen and (min-width: 700px) and (max-width:1023px) {
    .filter-container{
        flex-basis: 40%;
    }
    
    .mission-container{
        flex-basis: 60%;
    }
    .card{
        background-color: white;
        border-radius: 5px;
        width:48%;
        padding:10px;
        margin:4px;
    }
    
    .card-image{
        width:100%;
    }

    .filter-button{
        background-color:#228B22;
        margin: 0.5rem;
        width:40%;
    }
}

@media only screen and (min-width: 0px) and (max-width:700px) {
    .filter-container{
        flex-basis: 100%;
    }
    
    .mission-container{
        flex-basis: 100%;
    }
    .card{
        background-color: white;
        border-radius: 5px;
        width:100%;
        padding:10px;
        margin:4px;
    }
    
    .card-image{
        width:100%;
    }

    .filter-button{
        background-color:#228B22;
        margin: 0.5rem;
        width:100%;
    }

}




.centered-heading{
    width:40%;
    margin:0 auto;   
}

.underline-border{
    border-bottom:1px solid #989898;
}

.center-align{
    text-align: center;
}

.filter-button{
    background-color:#228B22;
    margin: 0.5rem;
}

.space-around{
    justify-content: space-around;
}

.flex-start{
    justify-content: flex-start;
}

.space-craft{
    font-weight: 700;
    color:#0000FF;
}